{
  "name": "My Project Name",
  "short_name": "My Project Short Name",
  "icons": [
    {
      "src": "./assets/images/webmanifest/android-chrome-192x192.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "./assets/images/webmanifest/android-chrome-512x512.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "theme_color": "#ffffff", // The theme_color sets the color of the tool bar, and may be reflected in the app's preview in task switchers
  "background_color": "#ffffff", // The background_color sets the background color of the splash screen
  "start_url": "/",
  "display": "standalone", // Opens the web app to look and feel like a standalone native app
  "orientation": "portrait" // Force the orientation of the app
}
