@media screen and (max-width: 1400px) {
	.wrapper {
		width: 1240px;
	}
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        padding:  0 1.5rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {
    /* COMMMON */
    body {
        overflow: auto !important;
    }
    .page-section {
        height: auto;
        box-sizing: border-box;
    }
    /* PRELOADER */
    .section_logo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 100vh;
        width: 100%;
    }

    .section_logo .wrapper{
        height: 100%;
    }

    .section_logo .wrapper .logo-wrap__block::before, 
    .section_logo .wrapper .logo-wrap__block::after {
        display: none;
    }

    .section_logo .wrapper .logo-wrap__block-dash {
        height: 5.2rem;
        margin: 2.6rem auto 3rem;
    }

    .section_logo .wrapper .logo-wrap__block-text_small {
        color: #1b1515;
    }

    /* HEADR */
    .header {
        opacity: 1;
        padding: 2.2rem 0;
        background-color: #fff;
    }

    .header__wrapper {
        box-sizing: border-box;
        justify-content: space-between;
    }

    .logo {
        width: 12rem;
    }

    .menu-trigger__text {
        font-size: 1.2rem;
    }

    .langs {
        display: none;
    }

    .menu {
        height: calc(100vh - 8rem);
    }

    .menu__links {
        flex: none
    }

    .menu__block:nth-child(3),
    .menu__block_images {
        display: none;
    }

    .menu__nav a {
        font-size: 2rem;
        line-height: 1.2;
        padding: 1.4rem 0;
    }

    .menu__block_nav {
        flex: none;
        height: auto;
        padding-top: 16.98%;
    }

    .mobile-langs {
        text-align: center;
        padding-top: 6.3rem;
        font-size: 2rem;
        line-height: 1.2;
    }

    .langs__item {
        margin: 0;
    }

    .langs__item:first-child::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 1.5rem;
        background-color: #fff;
        margin: 0 2.7rem;
        pointer-events: none;
    }

    .menu__sub {
        margin: auto 0 0;
    }

    .menu__sub-block_social a {
        margin-left: 0;
    }

    .menu__sub-block_social a:last-child {
        margin-left: 2.4rem;
    }

    /* MAIN PAGE */

    .home .section_creators {
        padding-top: 8rem;
        padding-bottom: 8.5rem;
    }

    .flex-row {
        flex-direction: column;
    }

    .flex-block {
        width: 100%;
    }

    .sep-letters, 
    .sep-lines {
        visibility: visible;
    }

    .flex-block_padd .flex-block__content{
        padding: 0;
    }

    .section-title {
        font-size: 4rem;
        text-align: center;
        padding-top: 9.5rem;
        margin-bottom: 8.5rem;
    }

    .quote-text {
        padding: 2.5rem 1.5rem 2.5rem;
        width: 100%;
    }

    .description, .description p, .quote-text {
        font-size: 1.2rem;
        letter-spacing: normal;
        max-width: 35rem;
        margin: 0 auto;
    }

    .quote-text::before, 
    .quote-text::after {
        width: 2.5rem;
        height: 2.5em;
    }

    .fw-image_halfslide {
        position: static;
    }

    .home section:nth-child(3){
        padding-bottom: 14.6rem;
    }

    .description h2, .description h2 p {
        font-size: 4rem;
        line-height: 1.25;
    }

    .sep-lines:not(.quote-text)::before {
        content: none;
        display: none;
    }

    .sep-lines p {
        display: inline;
    }

    .section-black {
        padding-bottom: 8.5rem;
    }

    .section-black .section__wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }

    .home section:nth-child(4) > div > div > div:nth-child(1) > div > img {
        position: relative;
        left: 0;
        top: -6.1rem;
        margin-bottom: -6.1rem;
    }

    .bg-image {
        overflow: visible;
    }

    .bg-image img {
        height: 47.55vh;
        width: auto;
        transform: none;
    }

    .bg-image::before {
        display: none;
    }

    .section-black .section-title {
        padding-top: 3.2rem;
        margin-bottom: 0;
        text-align: left;
        font-size: 4rem;
        line-height: 1.13;
    }

    .flex-block_text .flex-block__content {
        padding: 0 1.5rem;
    }

    .title-link {
        margin-top: 2.1rem;
        font-size: 1.2rem;
        line-height: 1.33;
    }

    .title-link::before, .title-link::after {
        width: 2.5rem;
    }

    .flex-row_swap {
        flex-direction: column-reverse;
        align-items: flex-end;
        width: max-content;
        margin: 0 0 0 auto;
    }

    .home section:nth-child(5) > div > div > div.flex-block.flex-block_text > div {
        padding-left: 0;
    }

    /* 404 */
    .error404 .section .wrapper {
        height: 100vh;
    }

    .error404 .logo-wrap__block::before,
    .error404 .logo-wrap__block::after {
        display: none;
    }

    .error404 .logo-wrap__block-title {
        line-height: 1;
    }

    .error404 .title-link {
        margin-top: 1.8rem;
    }

    .error404 .title-link::after {
        display: none;
    }

    /* CONTACTS */
    .page-contacts .header {
        background-color: #000;
    }

    .page-contacts #main {
        min-height: 100vh;
    }

    .page-contacts .section-black {
        min-height: 100vh;
    }

    .page-contacts .section-black .wrapper {
        padding-top: 21vh;
    }

    .page-contacts .section-black .section-title {
        padding-top: 0;
        text-align: center;
        margin-bottom: 16.5vh;
    }

    .page-contacts .section-black .description {
        max-width: 100%;
        margin-bottom: 8vh;
        font-size: 1.2rem;
    }

    .page-contacts .section-black .description  p {
        display: block;
        text-align: center;
    }

    .page-contacts .social-block {
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .page-contacts .social-block .title-link,
    .page-contacts .social-block .social-block__block{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

     .page-contacts .social-block .title-link {
        margin-bottom: 7.5vh;
    }

    .page-contacts .social-block .social-block__block {
        display: flex;
        flex-direction: column;
    }

    .page-contacts .social-block .social-block__block .social-link {
        width: auto;
        margin-bottom: 2.4rem;
    }

     .page-contacts .social-block .title-link {
        margin-bottom: 7.5vh;
    }

    .page-contacts .social-block .social-block__block {
        display: flex;
        flex-direction: column;
    }

    .page-contacts .title-link__hint,
    .page-contacts .title-link::after {
        display: none;
    }

    /* IDENTITY */
    .page-identity .section_creators .section-title,
    .page-teams .section_creators .section-title {
        margin-bottom: 12.3rem;
        padding-top: 15.5rem;
    }

    .page-identity .section_creators .description,
    .page-teams .section_creators .description {
        text-align: center;
    }

    .page-identity .fw-image_halfslide img,
    .page-teams .fw-image_halfslide img {
        height: 43.9rem;
        width: 100%;
    }

    .gallery-slider-nav__wrapper {
        padding-top: 6.8rem;
    }

    .square-icon {
        flex: 0 0 auto;
    }

    .gallery-slide,
    .gallery-slide-alt {
        width: 28.4rem;
    }

    .gallery-slider-nav {
        margin-bottom: 4.5rem;
    }

    .gallery-slide__text {
        font-size: 1.2rem;
        line-height: 2.08;
        letter-spacing: 0.6px;
    }

    .gallery-slide__text br {
        display: none;
    }

    .gallery-slide__image,
    .gallery-slide-alt {
        height: 22.6rem;
    }

    .gallery-slide__image img,
    .gallery-slide-alt img {
        height: 100%;
        object-fit: cover;
    }

    /* TEAMS */

    .page-teams section:nth-child(3) {
        padding-bottom: 8.5rem;
    }

    .page-teams .section-black  {
        padding-bottom: 9rem;
    }

    .page-teams .section-black .image-block__image {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        height: 35rem;
        margin-bottom: 3.3rem;
    }

    .page-teams .section-black .image-block__title {
        margin-bottom: 3.6rem;
    }

    .page-teams .section-black .image-block__text {
        font-size:  1.2rem;
        line-height: 2.08;
    }

    .page-teams .section-black .image-block__image img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .page-teams .section-black .flex-row_swap {
        width: 100%;
    }

    .page-teams .section-black .image-block__image {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        height: 35rem;
    }

    .page-teams .section-black:last-child .flex-row {
        width: fit-content;
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .bg-image img {
        height: 35rem;
    }
}

@media screen and (max-width: 320px) {
    .gallery-slide {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .mobile-langs {
        display: none;
    }
}
